/* geral veyr */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: Arial, sans-serif;
  background-color: #121212;
  color: hsl(0, 0%, 0%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: 100vh;
}

.logo-react {
  animation: spin 5s linear infinite;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
  vertical-align: middle;
}

/* logo */
@media (max-width: 768px) {
  .logo-react {
    width: 3rem;
    height: 3rem;
    margin-left: 0.5rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#root {
  max-width: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  font-family: sans-serif;
  text-align: center;
  color: aqua;
  padding: 2rem;
  margin-left: 2rem;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .App */
@media (max-width: 768px) {
  .App {
    padding: 5rem 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 3rem 0.5rem;
    font-size: 2rem;
  }
}

.App2 {
  font-family: sans-serif;
  text-align: center;
  color: aqua;
  padding: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .App2 */
@media (max-width: 768px) {
  .App {
    padding: 1rem;
    font-size: 2rem;
  }
}

@media (max-width: 480px) {
  .App {
    padding: 2 0.5rem;
    font-size: 2rem;
  }
}

p {
  font-size: 1.5rem;
  margin-top: 1rem;
  color: aqua;
}

/* parágrafos */
@media (max-width: 768px) {
  p {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}

button {
  font-size: 1.5rem;
  padding: 0.6rem 1.2rem;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  color: #000000;
  margin: 1rem;
  transition: all 0.3s ease;
}

/* botões */
@media (max-width: 768px) {
  button {
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    width: 90%;
    max-width: 200px;
    height: 4rem;
  }
}

@media (max-width: 480px) {
  button {
    font-size: 1.5rem;
    padding: 0.4rem 0.8rem;
    margin: 0.5rem;
    width: 90%;
    max-width: 200px;
    height: 4rem;
  }
}

button:hover {
  background-color: #21a1f1;
}

button:active {
  background-color: #1e90ff;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(97, 218, 251, 0.5);
}


footer {
  background-color: #282c34;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  height: 5rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

/* footer */
@media (max-width: 768px) {
  footer {
    font-size: 1rem;
    height: 4rem;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 1rem;
    height: 5rem;
    padding: 1.5rem;
  }
}

fieldset {
  border: 0.1rem solid #61dafb;
  border-radius: 2rem;
  padding: 1rem;
  margin: 2rem auto;
  max-width: 40rem;
  width: 90%;
}

/* fieldset */
@media (max-width: 768px) {
  fieldset {
    padding: 3rem;
    margin: 1.5rem auto;
    width: 75%;
    border-radius: 1.5rem;
  }
}

@media (max-width: 480px) {
  fieldset {
    padding: 2rem;
    margin: 1rem auto;
    width: 60%;
    height: 10%rem;
    border-radius: 1rem;
    border-width: 0.08rem;
  }
}
header {
  background-color: #282c34;
  color: white;
  width: 100%;
  height: 6rem;
}

.header-container {
  max-width: 1800px;
  margin: 0.0002rem 0;
  height: 7rem;
  padding: 0 1.5rem;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.header-title {
  font-size: 1.8rem;
  text-align: center;
  grid-column: 2;
}

.header-logos {
  grid-column: 3;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.header-logo {
  width: 2.2rem;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.header-logo:hover {
  transform: scale(1.1);
}

/* tablet */
@media (max-width: 768px) {
  .header-title {
    font-size: 1.4rem;
  }
  .header-container{
    margin: 0 0;
  }

  .header-logo {
    width: 1.8rem;
  }

  .header-logos {
    right: 1rem;
  }
}

/* mobile */
@media (max-width: 480px) {
  .header-container {
    grid-template-columns: 1fr;
    height: auto;
    gap: 0.5rem;
    padding: 1rem;
  }

  .header-title {
    grid-column: 1;
    font-size: 1.4rem;
  }

  .header-container {
    margin: 1rem 0;
  }

  .header-logos {
    grid-column: 1.5;
    justify-content: center;
  }
}

